.card-body {
  padding: 13px !important;
}
h4 {
  font-size: 14px !important;
}
button {
  padding: 3px 4px;
  font-size: 12.5px;
  width: 110px;
}
.flag-img {
    width: 20px;
    margin: 0 5px;
}
.card-body span {
    font-size: 10px;
    border-radius: 2px;
    background: #fdd6af8a;
    width: fit-content;
    padding: 2px 4px;
}
.card-body p {
    font-size: 12px !important;
    color: #333;
}
i {
    border: #333 solid 1px !important;
    padding: 1px !important;

}
.img-card {
    object-fit: cover !important;
    max-height: 250px !important;
    width: 100% !important;
}
a{
  cursor: pointer !important;
}
