.card-body {
  padding: 13px !important;
}
h4 {
  font-size: 14px !important;
}
button {
  padding: 3px 4px;
  font-size: 12.5px;
  width: 125px;
}
.flag-img {
    width: 20px;
    margin: 0 5px;
}
.card-body span {
    font-size: 10px;
    border-radius: 2px;
    background: #fdd6af8a;
    width: fit-content;
    padding: 2px 4px;
}
.card-body p {
    font-size: 12px !important;
    color: #333;
}
i {
    border: #333 solid 1px !important;
    padding: 1px !important;

}
.img-card {
    object-fit: cover !important;
    max-height: 250px !important;
    width: 100% !important;
}
a{
  cursor: pointer !important;
}
.fw-bold-h3 {
  font-weight: 500 !important;
}
h3 {
  font-size: calc(1.3rem + .6vw) !important;
}

.btn-close-custom {
  background-color: var(--link-color) !important; 
  color: #fff !important;
  width: 40px !important;
  border-radius: 5% !important;
}
.btn-close-custom i{
  width: 100% !important;
  border: none !important;
}
.offcanvas{
  height: 43% !important;
}
.custom-form {
  margin-top: 30px !important;
}
.custom-form .input-email {
  width: 100% !important;
  padding: 10px !important;
  border: 1px solid #ddd !important;
  border-radius: 5px !important;
  outline: none !important;
}
.custom-form .submit-email {
  width: 100% !important;
  padding: 10px !important;
  background: var(--link-color) !important;
  border: 0 !important;
  border-radius: 5px !important;
  color: #fff !important;
}
.otp-input {
  width: 60px !important;
  height: 60px !important; 
text-align: center !important;
  font-size: 18px !important;
  border: 1px solid #ccc !important;
  margin: 0 5px  !important;
  border-radius: 5px !important;
} 

.subscribe {
  width: 20% !important;
  background-color: var(--link-color) !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  margin-top: 20px !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  transition: background-color 0.3s ease;
}